<div class="container">
  <footer class="footer">
    <smal>
            Copyright &copy; Blog hecho por Iván Munguía.
    </smal>
    <nav>
      <ul>
        <li><%= link_to "Acerca del Blog", about_path %></li>
      </ul>
    </nav>            
  </footer>
</div>